@font-face {
  font-family: "Lato-Regular";
  src: local("Lato-Regular"), url("./fonts/Lato-Regular.ttf") format("truetype");
}

.App {
  text-align: center;
  font-family: Lato-Regular;
  height: 100vh;
  background-image: url("https://miro.medium.com/v2/resize:fit:1400/format:webp/1*1Hh7ldSZ8pKyf9PKLfDZjw.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
}

.input-container {
  display: flex;
  width: 60%;
  margin: auto;
}

.task-container {
  width: 60%;
  margin: auto;
}

ul {
  list-style: none;
}

.list-item {
  background-color: azure;
  margin-top: 10px;
  margin-right: 5px;
  border: 2px solid gray;
  border-radius: 10px;
}

.list-item:nth-child(odd) {
  background: lightgray;
}
